<div class="myBlogTopHidden"></div>
<div class="myBlogContent myBlogContent_hover_screen_sm_min">
    <section class="container">
        <div class="row content">
            <div class="col-md-2">
                <a class="userPhoto"><img src="images/photo.png"/></a>
            </div>
            <div class="col-md-10">
                <section class="col-md-12 messageContent">
                    <h3>我的信息</h3>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">姓名:</b>{{me.name}}</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">学历:</b>{{me.education}}</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">生日:</b>{{me.birthday}}</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">经验:</b>{{me.exp}}</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">职业:</b>{{me.profession}}</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">邮箱:</b>{{me.email}}</p>
                </section>
            </div>
        </div>
        <div class="row content skill_screen_xs">
            <div class="">
                <!--<a class="userPhoto"><img src="images/photo1.png"/></a>-->
            </div>
            <div class="col-md-12">
                <section class="col-md-12 messageContent skill">
                    <h3>我的技能</h3>
                    <div class="row">
                        <div>
                            <p class="col-md-3 col-sm-3 col-xs-4 skill-type">前端技能:</p>
                            <p class="col-md-9 col-sm-9 col-xs-8 skill-detail">
                                {{me.frontSkills}}
                            </p>
                        </div>
                        <div>
                            <p class="col-md-3 col-sm-3 col-xs-4 skill-type">后台技能:</p>
                            <p class="col-md-9 col-sm-9 col-xs-8 skill-detail">
                                {{me.backSkills}}
                            </p>
                        </div>
                        <div>
                            <p class="col-md-3 col-sm-3 col-xs-4 skill-type">其他技能:</p>
                            <p class="col-md-9 col-sm-9 col-xs-8 skill-detail">
                                {{me.otherSkills}}
                            </p>
                        </div>
                        <div>
                            <p class="col-md-3 col-sm-3 col-xs-4 skill-type">生活技能:</p>
                            <p class="col-md-9 col-sm-9 col-xs-8 skill-detail">
                                {{me.technicalSkill}}
                            </p>
                        </div>

                    </div>
                </section>
            </div>
        </div>
        <div class="row myproject">
            <section>
                <h3 class="col-md-12"><span class="specilTitle">我的项目</span></h3>
                <div class="col-sm-6 col-md-4" ng-repeat="project in myProjects">
                    <div class="card">
                        <div class="card-title">
                            {{project.title}}
                        </div>
                        <div class="card-image">
                            <a ng-href="{{project.pagelink}}"><img ng-src="{{project.img}}"></a>
                        </div>
                        <div class="card-detail"><a ng-href="{{project.pagelink}}">{{project.desc}}</a></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="opus row">
            <section>
                <h3 class="col-md-12"><span class="specilTitle">MyOpus</span></h3>
                <div class="col-sm-6 col-md-4 opusContentWrap" ng-repeat="opus in myOpuses">
                    <div class="card">
                        <div class="card-title">
                            {{opus.title}}
                        </div>
                        <div class="card-image">
                            <a ng-href="{{opus.pagelink}}"><img ng-src="{{opus.img}}"></a>
                        </div>
                        <div class="card-detail"><a ng-href="{{opus.gitlink}}">{{opus.desc}}</a></div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>