<div class="myBlogContent myBlogContent_hover_screen_sm_min">
    <section class="container">
        <div class="row content">
            <div class="col-md-2">
                <a class="userPhoto"><img src="images/photo.png"/></a>
            </div>
            <div class="col-md-10">
                <section class="col-md-12 row messageContent">
                    <h3>我的信息{{name}}</h3>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">姓名:</b>李笑</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">学历:</b>本科</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">生日:</b>1989年</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">星座:</b>狮子座</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">职业:</b>前端攻城师</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">邮箱:</b>lixiaoxf@126.com</p>
                </section>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-2">
                <a class="userPhoto"><img src="images/photo1.png"/></a>
            </div>
            <div class="col-md-10">
                <section class="col-md-12 row messageContent">
                    <h3>我的信息</h3>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">姓名:</b>李笑</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">学历:</b>本科</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">生日:</b>1989年</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">星座:</b>狮子座</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">职业:</b>前端攻城师</p>
                    <p class="col-md-6 col-sm-6"><b class="col-md-6 col-sm-6">邮箱:</b>lixiaoxf@126.com</p>
                </section>
            </div>
        </div>
    </section>
</div>